* {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-wrap: break-word;
}

$color-1: #13356c;
$color-2: #eee;
$color-3: #f5f7f9; 
$color-4: #ff6c6c;

@mixin button {
    background: $color-1;
    border: 3px solid $color-1; 
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 2rem;
    transition: .5s;
}

@mixin dashed-border {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-color: $color-1;
}

@mixin description {
    color: #aaa;
    text-align: right;
    text-transform: uppercase;
}

@mixin fontSize {
    font-size: small;
}

@mixin icons {
    background: #fff;
    border-radius: .2rem;
    fill: $color-1;
    height: 1rem;
    margin-inline: .2rem;
    padding: .3rem;
    width: 1rem;
    transform: translateY(.75rem);
}

@mixin fixed-header {
    position: fixed;
    z-index: 100;
    width: 100vw;
}

@mixin product { 
    border-left: unset; 
    position: relative;
    margin-inline: .5rem; 
    width: 15rem;

    button {
        @include button();
        background: #fff;
        color: $color-1;

        &:hover {
            background: $color-1;
            color: #fff;
        }
    }

    .button-1 {
        @include button();
        
        &:hover {
            background: #fff;
            color: $color-1;
        }
    }

    div {
        background-position: center;
        background-size: contain;
        height: 15rem;
        width: 15rem;
    }

    h1 {
        @include sale();
    }
    
    p,
    button {
        margin-block: 1rem;

        &.description {
            @include description();
        }
    }

    span {
        border-top: 2px solid $color-1;
        font-size: 1.5rem;
    }
}

@mixin sale {
    background: $color-4;
    border-radius: .2rem;
    color: #fff;
    font-size: smaller;
    letter-spacing: .1rem;
    padding: .1rem .3rem;
    text-align: left; 
    width: max-content;
    position: absolute;
    z-index: 10;
}

$headings: 1, 2, 3, 4;

@each $heading in $headings {
    h#{$heading},
    h2 span {
        color: $color-4;
        font-family: 'Ubuntu', sans-serif;
    }
}

a {
    color: #111;
}

.Form-Hover-Effect {
    cursor: pointer;
    
    div[style] {
        opacity: .8;
    }

    p {
        color: $color-1;
    }

    span {
        color: $color-4;
    }
    
    .product {
        cursor: pointer;

        div[style] {
            opacity: .8;
        }

        p {
            color: $color-1;
        }

        span {
            color: $color-4;
        }
    }
}

.heading {
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}