* {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-wrap: break-word;
}

$color-1: #13356c;
$color-2: #eee;
$color-3: #f5f7f9; 
$color-4: #ff6c6c;

@mixin button {
    background: $color-1;
    border: 3px solid $color-1;
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 2rem;
}

@mixin dashed-border {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-color: $color-1;
}

@mixin fontSize {
    font-size: small;
}

@mixin icons {
    background: #fff;
    border-radius: 50%;
    fill: $color-1;
    height: 1rem;
    margin-inline: .2rem;
    padding: .3rem;
    width: 1rem;
    transform: translateY(.5rem);
}

@mixin fixed-header {
    position: fixed;
    z-index: 100;
    width: 100vw;
}

@mixin product { 
    border-left: unset; 
    margin-inline: .5rem;
    text-align: center;
    width: 15rem;

    button {
        @include button();
    }

    div {
        background-position: center;
        background-size: contain;
        height: 15rem;
        width: 15rem;
    }

    p,
    button {
        margin-block: 1rem;
    }

    span {
        border-top: 2px solid $color-1;
        font-size: 1.5rem;
    }
}

$headings: 1, 2, 3, 4;

@each $heading in $headings {
    h#{$heading},
    h2 span {
        color: $color-4;
        font-family: 'Ubuntu', sans-serif;
    }
}

a {
    color: #111;
}

.heading {
    font-family: 'Ubuntu', sans-serif;
}
