header { 
    @include fixed-header();
    @include fontSize();
    
    nav {
        align-items: center;
        display: flex;
        justify-content: space-around;

        &:first-child {
            background: $color-1;
            color: #fff;
            letter-spacing: .01rem;
            padding-bottom: 1rem;
            position: relative;
            z-index: 10;
            
            div {
                align-items: center;
                display: flex;

                &:first-child {
                    p {
                        padding-inline: 1rem;
                        transform: translateY(0.2rem);

                        svg  {
                            @include icons();
                        }
                    }
                }

                &:last-child { 
                    svg {
                        @include icons();
                    } 
                }
            }


        }

        &:last-child {
            background-color: #fff;  
            padding-block: 1rem;

            div {
                h1 {
                    img {
                        position: absolute;
                        top: -1.4rem;
                        width: 14rem;
                    }
                }
            }

            ul {
                display: flex;

                li {
                    font-size: 1rem;
                    font-weight: bold;
                    letter-spacing: .1rem;
                    margin-inline: 1.5rem;

                    a {
                        color: darken($color: $color-2, $amount: 50%);

                        &:hover {
                            color: $color-1;
                        }
                    }
                }
            }
        }
    }
}

.header-sm-screen {
    @include fixed-header();
    align-items: center;
    background: #fff; 
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    div {
        h1 {
            img {
                position: absolute;
                width: 10rem;
                top: 0rem;
            }
        }

        svg {
            @include icons();
            border-radius: unset;
            height: 3rem;
            padding: unset;
            width: 3rem;
        }

        &:last-child {
            transform: translateX(-1.5rem);
        }
    }
}

@media(max-width: 1016px) {
    header {
        display: none;
    } 
}

@media(min-width: 1016px) {
    .header-sm-screen {
        display: none;
    }
 
}
