.shop { 
    .shop-inner {
        .most-popular {
            h1.sale {
                @include sale();
            }
        }
        .purchase-now {
            // align-items: center;
            border: 1px solid #eee;
            display: flex;
            padding: 2rem;

            .purchase-now-inner {
                &:last-child {
                    margin-left: 2rem;
                }

                button {
                    @include button(); 
                    color: #fff;
            
                    &:hover {
                        background: #fff;
                        color: $color-1;
                    }

                    margin-block: 3rem;
                    width: 100%;
                }

                h1 {
                    background: unset; 
                    font-size: 2rem;
                    margin-block: 1rem;
                    padding: 1rem 0;

                    &.sale {
                        @include sale();
                    }
                }

                h1,
                h2, 
                h3 {
                  color: $color-1;  
                }
                p {
                    margin-block: 1rem;
                }

                .purchase-now-product {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 45rem;
                    width: 45rem;
                }

                span {
                    border-top: 2px solid $color-2;
                    color: $color-1;
                    font-size: 2rem;
                }

                ul {
                    li { 
                        border-bottom: 1px solid #ddd;
                        letter-spacing: .08rem;
                    }
                }
            }
        }
    
        .related-products-wrapper {
            margin-top: 4rem;

            h1 {  
                text-align: center;
            }
            
            .related-products {
                align-items: start;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
    }
}

@media (max-width: 894px) {
    .shop {
        .shop-inner {
            .purchase-now {
                flex-wrap: wrap;
                transform: translateY(-1.5rem);
                
                .purchase-now-inner {
                    &:last-child {
                        margin-left: unset;
                        width: 90vw;
                    }
                    
                    h1 {
                        text-align: center;
                    }

                    .purchase-now-product {
                        height: 25rem;
                        margin-block: 1rem;
                        width: 90vw;
                    }
                }
            }
        }
    }
}

@media (min-width: 894px) {
    .shop {
        .shop-inner {
            .purchase-now { 
                .purchase-now-inner {
                    &:first-of-type {
                        h1 {
                            display: none;
                        } 
                    }

                }
            }
        }
    }
}