.shop {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 10rem;
    padding-inline: 1rem;

    .shop-inner {
        &:first-child {
            border: 1px solid #eee;
            padding: 2rem;
            width: 20rem;
        }

        &:last-child {
            display: flex;
            flex-basis: 79rem;
            flex-wrap: wrap;
            justify-content: center;
            margin-inline: 2rem;
        }

        h1 { 
            border-bottom: 2px solid #eee;
            color: #333;
            font-size: 2rem;
            padding: 1rem;
            text-decoration: overline;
            text-decoration-color: #bbb;
            text-decoration-style: dotted;
        }
        
        .categories {
            div {
                background-position: center;
                background-size: cover;
                height: 30rem;
                margin-block: 2rem;
                width: 20rem;
            }

            ul {
                li {
                    &.active {
                        border-bottom: 2px solid $color-1;
                        color: $color-1;
                    }

                    margin-block: .2rem;
                }
            } 
        }

        .product {
            @include product();
            margin: 2rem 0.5rem;
        }

        .most-popular {
            .most-popular-inner {
                align-items: center;
                border-bottom: 1px solid #bbb;
                display: flex;
                padding-block: 2rem;

                div {
                    &:first-child {
                        background-position: center;
                        background-size: cover;
                        height: 8rem;
                        width: 8rem;
                    }

                    &:last-child {
                        margin-left: 1rem;

                        button {
                            @include button();
                            margin-top: 1rem;
                        }

                        h2 {
                            padding-block: .5rem;
                        }
                    }
                }
            }
        }
    }
}

.title { 
    background-position: center;
    background-size: cover; 
    height: 25rem; 

    .title-inner {
        align-items: center;
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        h1, 
        span {
            color: #eee;
            text-align: center;
        }

        h1 {
            font-style: italic;
            font-size: 4rem;
            margin-block: 3rem;
        }

        span {
            letter-spacing: .03rem;
        }
    }
}

@media (max-width: 1894px) {
    .shop {
        .shop-inner {
            &:first-child {
                order: 2;
                width: 90vw;
            }
            
            &:last-child {
                order: 1;
            }

            .categories {
                margin-top: 2rem;
            }
        }
    }
}
