@import 'config';
@import 'header';

main {
    display: flex;
    justify-content: center;

    .main {
        width: 80vw;
    }
}

section {
    &.sec-1 { 
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh; 

        .sec-1-inner {
            align-items: center;
            background: rgba(0, 18, 87, 0.55);
            display: flex;
            height: 100vh; 
            justify-content: center;

            div {
                color: #fff;
                padding-inline: 1rem;
                text-align: center;
                width: 30rem;

                button {
                    color: #fff;
                    margin-right: 1rem;
                    padding: 0.5rem 2rem;
                    margin-block: 1rem;

                    &:first-of-type {
                        background: $color-1;
                        border: 3px solid $color-1;
                        border-radius: .3rem;
                    }

                    &:last-of-type {
                        background: none;
                        border: 3px solid #fff;
                    } 
                }

                h1 {
                    color: #ddd;
                    text-align: right;
                    text-decoration: underline;
                }

                h2 {
                    font-size: 6rem;
                    margin-block: 1rem;
                    text-align: center;   
                }

                h3 {
                    font-style: italic;
                }

                span {
                    color: #ddd;
                    font-size: 4rem;
                }
            }
        }
    }

    &.sec-2 {
        background: $color-3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-block: 4rem;

        .sec-2-inner {
            margin: 2rem;
            text-align: center;

            p {
                margin-block: .5rem;
            }

            div {
                img {
                    width: 5rem;
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    main { 
        .main {
            width: 100vw;
        }
    }
}

@media (min-width: 760px) {
    section {
        &.sec-1 {
            .sec-1-inner {
                div {
                    width: 80rem;

                    h2 {
                        color: #eee;
                        // font-size: 10rem; 

                        span {
                            font-size: 6rem;
                        } 
                    }
                }
            }
        }
    }
} 

@media (max-width: 470px) {
    section {
        &.sec-1 {
            .sec-1-inner {
                div {
                    h1 {
                        font-size: 1rem;
                    }

                    h2 {
                        font-size: 4rem;
                    }

                    h3,
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 308px) {
    section {
        &.sec-1 {
            .sec-1-inner {
                div {
                    h2 {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}