* {
  font-family: "Poppins", sans-serif;
  font-size: small;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  word-wrap: break-word;
}

h1,
h2 span {
  color: #ff6c6c;
  font-family: "Ubuntu", sans-serif;
}

h2,
h2 span {
  color: #ff6c6c;
  font-family: "Ubuntu", sans-serif;
}

h3,
h2 span {
  color: #ff6c6c;
  font-family: "Ubuntu", sans-serif;
}

h4,
h2 span {
  color: #ff6c6c;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: #111;
}

.Form-Hover-Effect {
  cursor: pointer;
}
.Form-Hover-Effect div[style] {
  opacity: 0.8;
}
.Form-Hover-Effect p {
  color: #13356c;
}
.Form-Hover-Effect span {
  color: #ff6c6c;
}
.Form-Hover-Effect .product {
  cursor: pointer;
}
.Form-Hover-Effect .product div[style] {
  opacity: 0.8;
}
.Form-Hover-Effect .product p {
  color: #13356c;
}
.Form-Hover-Effect .product span {
  color: #ff6c6c;
}

.heading {
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  z-index: 100;
  width: 100vw;
  font-size: small;
}
header nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
header nav:first-child {
  background: #13356c;
  color: #fff;
  letter-spacing: 0.01rem;
  padding-bottom: 1rem;
}
header nav:first-child div {
  align-items: center;
  display: flex;
}
header nav:first-child div:first-child p {
  padding-inline: 1rem;
  transform: translateY(0.2rem);
}
header nav:first-child div:first-child p svg {
  background: #fff;
  border-radius: 50%;
  fill: #13356c;
  height: 1rem;
  margin-inline: 0.2rem;
  padding: 0.3rem;
  width: 1rem;
  transform: translateY(0.5rem);
}
header nav:first-child div:last-child svg {
  background: #fff;
  border-radius: 50%;
  fill: #13356c;
  height: 1rem;
  margin-inline: 0.2rem;
  padding: 0.3rem;
  width: 1rem;
  transform: translateY(0.5rem);
}
header nav:last-child {
  background-color: #eee;
  padding-block: 1rem;
}
header nav:last-child div h1 {
  font-size: 2rem;
}
header nav:last-child ul {
  display: flex;
}
header nav:last-child ul li {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-inline: 1.5rem;
}
header nav:last-child ul li a {
  color: #6f6f6f;
}
header nav:last-child ul li a:hover {
  color: #13356c;
}

.header-sm-screen {
  position: fixed;
  z-index: 100;
  width: 100vw;
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header-sm-screen div h1 {
  font-size: 2rem;
}
.header-sm-screen div svg {
  background: #fff;
  border-radius: 50%;
  fill: #13356c;
  height: 1rem;
  margin-inline: 0.2rem;
  padding: 0.3rem;
  width: 1rem;
  transform: translateY(0.5rem);
  border-radius: unset;
  height: 3rem;
  padding: unset;
  width: 3rem;
}
.header-sm-screen div:last-child {
  transform: translateX(-1.5rem);
}

@media (max-width: 1016px) {
  header {
    display: none;
  }
}
@media (min-width: 1016px) {
  .header-sm-screen {
    display: none;
  }
}
main {
  display: flex;
  justify-content: center;
}
main .main {
  overflow: hidden;
  width: 85vw;
}

.new-products,
.from-shop {
  display: flex;
  margin-inline: 2rem;
  overflow: scroll;
  padding-block: 3rem;
  text-align: center;
}
.new-products-title, .new-products-from-shop,
.from-shop-title,
.from-shop-from-shop {
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-color: #13356c;
  margin-inline: 2rem;
}
.new-products-title h1, .new-products-from-shop h1,
.from-shop-title h1,
.from-shop-from-shop h1 {
  font-size: large;
  margin-block: 2rem;
  padding-left: 1rem;
}
.new-products-title h2, .new-products-from-shop h2,
.from-shop-title h2,
.from-shop-from-shop h2 {
  color: #13356c;
  margin: 1rem;
}
.new-products-title#ShopNow, .new-products-from-shop#ShopNow,
.from-shop-title#ShopNow,
.from-shop-from-shop#ShopNow {
  padding-top: 6rem;
}
.new-products .product,
.from-shop .product {
  border-left: unset;
  position: relative;
  margin-inline: 0.5rem;
  width: 15rem;
}
.new-products .product button,
.from-shop .product button {
  background: #13356c;
  border: 3px solid #13356c;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: 0.5s;
  background: #fff;
  color: #13356c;
}
.new-products .product button:hover,
.from-shop .product button:hover {
  background: #13356c;
  color: #fff;
}
.new-products .product .button-1,
.from-shop .product .button-1 {
  background: #13356c;
  border: 3px solid #13356c;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: 0.5s;
}
.new-products .product .button-1:hover,
.from-shop .product .button-1:hover {
  background: #fff;
  color: #13356c;
}
.new-products .product div,
.from-shop .product div {
  background-position: center;
  background-size: contain;
  height: 15rem;
  width: 15rem;
}
.new-products .product h1,
.from-shop .product h1 {
  background: #ff6c6c;
  border-radius: 0.2rem;
  color: #fff;
  font-size: smaller;
  letter-spacing: 0.1rem;
  padding: 0.1rem 0.3rem;
  text-align: left;
  width: max-content;
  position: absolute;
  z-index: 10;
}
.new-products .product p,
.new-products .product button,
.from-shop .product p,
.from-shop .product button {
  margin-block: 1rem;
}
.new-products .product span,
.from-shop .product span {
  border-top: 2px solid #13356c;
  font-size: 1.5rem;
}

section.sec-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
section.sec-1 .sec-1-inner {
  align-items: center;
  background: rgba(0, 18, 87, 0.55);
  display: flex;
  height: 100vh;
  justify-content: center;
}
section.sec-1 .sec-1-inner div {
  color: #fff;
  padding-inline: 1rem;
  text-align: center;
  width: 30rem;
}
section.sec-1 .sec-1-inner div a[href="#Contact"] button {
  background: none;
  border: 3px solid #fff;
  color: #fff;
}
section.sec-1 .sec-1-inner div a[href="#Contact"] button:hover {
  background: #fff;
  color: unset;
}
section.sec-1 .sec-1-inner div button {
  background: #13356c;
  border: 3px solid #13356c;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: 0.5s;
  background: #fff;
  border: 3px solid #fff;
  color: unset;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  margin-block: 1rem;
}
section.sec-1 .sec-1-inner div button:hover {
  background: unset;
  color: #fff;
}
section.sec-1 .sec-1-inner div h1 {
  color: #ddd;
  text-align: right;
  text-decoration: underline;
}
section.sec-1 .sec-1-inner div h2 {
  color: #eee;
  font-size: 6rem;
  margin-block: 1rem;
  text-align: center;
}
section.sec-1 .sec-1-inner div h3 {
  color: unset;
  font-style: italic;
  margin-top: 1rem;
  text-align: right;
}
section.sec-1 .sec-1-inner div p {
  text-align: right;
}
section.sec-1 .sec-1-inner div span {
  color: #ddd;
  font-size: 4rem;
}
section.sec-1 .sec-1-inner div span.we-sell span:first-child {
  font-size: 1.5rem;
  font-style: italic;
}
section.sec-1 .sec-1-inner div span#main {
  color: #ff7676 !important;
  font-size: 3rem;
}
section.sec-2 {
  background: #f5f7f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-block: 2rem;
  padding-block: 4rem;
}
section.sec-2 .sec-2-inner {
  border: 5px solid #f5f7f9;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}
section.sec-2 .sec-2-inner:hover {
  cursor: pointer;
  border: 5px solid #13356c;
}
section.sec-2 .sec-2-inner p {
  margin-block: 0.5rem;
}
section.sec-2 .sec-2-inner div img {
  width: 5rem;
}
section.sec-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-block: 4rem;
  text-align: center;
}
section.sec-3 .sec-3-inner {
  margin-block: 1rem;
  width: 20rem;
}
section.sec-3 .sec-3-inner img {
  width: 6rem;
}
section.sec-3 .sec-3-inner p {
  padding-block: 1rem;
}
section.sec-4 .sec-4-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section.sec-4 .sec-4-inner .contact {
  margin-block: 2rem;
  padding-inline: 1rem;
  width: 50rem;
}
section.sec-4 .sec-4-inner .contact-info {
  display: flex;
  margin-block: 1.5rem;
}
section.sec-4 .sec-4-inner .contact-info div:last-child {
  margin-inline: 1rem;
}
section.sec-4 .sec-4-inner .contact-info div img {
  width: 2rem;
}
section.sec-4 .sec-4-inner .contact .form form button {
  background: #13356c;
  border: 3px solid #13356c;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: 0.5s;
}
section.sec-4 .sec-4-inner .contact .form form h1 {
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-color: #13356c;
  font-size: 2rem;
}
section.sec-4 .sec-4-inner .contact .form form input,
section.sec-4 .sec-4-inner .contact .form form textarea {
  margin-block: 1rem;
  outline: none;
  padding: 0.75rem;
  width: 94%;
}
section.sec-4 .sec-4-inner .contact .form form input[placeholder],
section.sec-4 .sec-4-inner .contact .form form textarea[placeholder] {
  color: #13356c;
  font-style: italic;
}
section.sec-4 .sec-4-inner .contact .form form textarea {
  height: 15rem;
  resize: none;
}

@media (max-width: 1350px) {
  main .main {
    width: 100vw;
  }
}
@media (min-width: 760px) {
  section.sec-1 .sec-1-inner div {
    width: 80rem;
  }
  section.sec-1 .sec-1-inner div h2 {
    color: #eee;
  }
  section.sec-1 .sec-1-inner div h2 span {
    font-size: 6rem;
  }
}
@media (max-width: 470px) {
  section.sec-1 .sec-1-inner div h1 {
    font-size: 1rem;
  }
  section.sec-1 .sec-1-inner div h2 {
    font-size: 4rem;
  }
  section.sec-1 .sec-1-inner div h3,
section.sec-1 .sec-1-inner div p {
    font-size: 0.9rem;
  }
}
@media (max-width: 308px) {
  section.sec-1 .sec-1-inner div h2 {
    font-size: 3rem;
  }
}
@media (max-width: 492px) {
  .new-products .product,
.from-shop .product {
    width: 9rem;
  }
  .new-products .product div,
.from-shop .product div {
    height: 9rem;
    width: 9rem;
  }
}
.shop {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 10rem;
  padding-inline: 1rem;
}
.shop .shop-inner:first-child {
  border: 1px solid #eee;
  padding: 2rem;
  width: 20rem;
}
.shop .shop-inner:last-child {
  display: flex;
  flex-basis: 79rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: 2rem;
}
.shop .shop-inner h1 {
  border-bottom: 2px solid #eee;
  color: #333;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: overline;
  text-decoration-color: #bbb;
  text-decoration-style: dotted;
}
.shop .shop-inner .categories div {
  background-position: center;
  background-size: cover;
  height: 30rem;
  margin-block: 2rem;
  width: 20rem;
}
.shop .shop-inner .categories ul li {
  margin-block: 0.2rem;
}
.shop .shop-inner .categories ul li.active {
  border-bottom: 2px solid #13356c;
  color: #13356c;
}
.shop .shop-inner .product {
  border-left: unset;
  position: relative;
  margin-inline: 0.5rem;
  width: 15rem;
  margin: 2rem 0.5rem;
}
.shop .shop-inner .product button {
  background: #13356c;
  border: 3px solid #13356c;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: 0.5s;
  background: #fff;
  color: #13356c;
}
.shop .shop-inner .product button:hover {
  background: #13356c;
  color: #fff;
}
.shop .shop-inner .product .button-1 {
  background: #13356c;
  border: 3px solid #13356c;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: 0.5s;
}
.shop .shop-inner .product .button-1:hover {
  background: #fff;
  color: #13356c;
}
.shop .shop-inner .product div {
  background-position: center;
  background-size: contain;
  height: 15rem;
  width: 15rem;
}
.shop .shop-inner .product h1 {
  background: #ff6c6c;
  border-radius: 0.2rem;
  color: #fff;
  font-size: smaller;
  letter-spacing: 0.1rem;
  padding: 0.1rem 0.3rem;
  text-align: left;
  width: max-content;
  position: absolute;
  z-index: 10;
}
.shop .shop-inner .product p,
.shop .shop-inner .product button {
  margin-block: 1rem;
}
.shop .shop-inner .product span {
  border-top: 2px solid #13356c;
  font-size: 1.5rem;
}
.shop .shop-inner .most-popular .most-popular-inner {
  align-items: center;
  border-bottom: 1px solid #bbb;
  display: flex;
  padding-block: 2rem;
}
.shop .shop-inner .most-popular .most-popular-inner div:first-child {
  background-position: center;
  background-size: cover;
  height: 8rem;
  width: 8rem;
}
.shop .shop-inner .most-popular .most-popular-inner div:last-child {
  margin-left: 1rem;
}
.shop .shop-inner .most-popular .most-popular-inner div:last-child button {
  background: #13356c;
  border: 3px solid #13356c;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: 0.5s;
  margin-top: 1rem;
}
.shop .shop-inner .most-popular .most-popular-inner div:last-child h2 {
  padding-block: 0.5rem;
}
.shop-wrapper {
  margin-block: 1rem;
}

.title {
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  height: 25rem;
}
.title .title-inner {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.title .title-inner h1,
.title .title-inner span {
  color: #eee;
  text-align: center;
}
.title .title-inner h1 {
  font-style: italic;
  font-size: 4rem;
  margin-block: 3rem;
}
.title .title-inner span {
  letter-spacing: 0.03rem;
}
.title .title-inner span strong {
  border-bottom: 2px solid #ff6c6c;
  color: #ddd;
  font-weight: unset;
}

@media (max-width: 1894px) {
  .shop .shop-inner:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    order: 2;
    width: 90vw;
  }
  .shop .shop-inner:last-child {
    order: 1;
  }
  .shop .shop-inner .categories {
    margin-top: 2rem;
  }
}
@media (max-width: 1016px) {
  .shop {
    margin-block: 5rem;
  }
  .shop-wrapper {
    margin-block: 0;
  }
}
@media (max-width: 492px) {
  .shop-inner .product {
    width: 9rem !important;
  }
  .shop-inner .product div {
    height: 9rem !important;
    width: 9rem !important;
  }
}
.shop .shop-inner .most-popular h1.sale {
  background: #ff6c6c;
  border-radius: 0.2rem;
  color: #fff;
  font-size: smaller;
  letter-spacing: 0.1rem;
  padding: 0.1rem 0.3rem;
  text-align: left;
  width: max-content;
  position: absolute;
  z-index: 10;
}
.shop .shop-inner .purchase-now {
  border: 1px solid #eee;
  display: flex;
  padding: 2rem;
}
.shop .shop-inner .purchase-now .purchase-now-inner:last-child {
  margin-left: 2rem;
}
.shop .shop-inner .purchase-now .purchase-now-inner button {
  background: #13356c;
  border: 3px solid #13356c;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: 0.5s;
  color: #fff;
  margin-block: 3rem;
  width: 100%;
}
.shop .shop-inner .purchase-now .purchase-now-inner button:hover {
  background: #fff;
  color: #13356c;
}
.shop .shop-inner .purchase-now .purchase-now-inner h1 {
  background: unset;
  font-size: 2rem;
  margin-block: 1rem;
  padding: 1rem 0;
}
.shop .shop-inner .purchase-now .purchase-now-inner h1.sale {
  background: #ff6c6c;
  border-radius: 0.2rem;
  color: #fff;
  font-size: smaller;
  letter-spacing: 0.1rem;
  padding: 0.1rem 0.3rem;
  text-align: left;
  width: max-content;
  position: absolute;
  z-index: 10;
}
.shop .shop-inner .purchase-now .purchase-now-inner h1,
.shop .shop-inner .purchase-now .purchase-now-inner h2,
.shop .shop-inner .purchase-now .purchase-now-inner h3 {
  color: #13356c;
}
.shop .shop-inner .purchase-now .purchase-now-inner p {
  margin-block: 1rem;
}
.shop .shop-inner .purchase-now .purchase-now-inner .purchase-now-product {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 45rem;
  width: 45rem;
}
.shop .shop-inner .purchase-now .purchase-now-inner span {
  border-top: 2px solid #eee;
  color: #13356c;
  font-size: 2rem;
}
.shop .shop-inner .purchase-now .purchase-now-inner ul li {
  border-bottom: 1px solid #ddd;
  letter-spacing: 0.08rem;
}
.shop .shop-inner .related-products-wrapper {
  margin-top: 4rem;
}
.shop .shop-inner .related-products-wrapper h1 {
  text-align: center;
}
.shop .shop-inner .related-products-wrapper .related-products {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 894px) {
  .shop .shop-inner .purchase-now {
    flex-wrap: wrap;
    transform: translateY(-1.5rem);
  }
  .shop .shop-inner .purchase-now .purchase-now-inner:last-child {
    margin-left: unset;
    width: 90vw;
  }
  .shop .shop-inner .purchase-now .purchase-now-inner h1 {
    text-align: center;
  }
  .shop .shop-inner .purchase-now .purchase-now-inner .purchase-now-product {
    height: 25rem;
    margin-block: 1rem;
    width: 90vw;
  }
}
@media (min-width: 894px) {
  .shop .shop-inner .purchase-now .purchase-now-inner:first-of-type h1 {
    display: none;
  }
}
footer {
  background: #111;
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 1rem;
}
footer .footer {
  margin-block: 1.5rem;
  width: 25rem;
}
footer .footer .contact-info {
  align-items: center;
  display: flex;
  margin-block: 1rem;
}
footer .footer div:first-of-type img {
  margin-right: 0.5rem;
}
footer .footer div span {
  margin-left: 1rem;
}
footer .footer div svg {
  background: #fff;
  border-radius: 50%;
  fill: #13356c;
  height: 1rem;
  margin-inline: 0.2rem;
  padding: 0.3rem;
  width: 1rem;
  transform: translateY(0.5rem);
  border-radius: unset;
  height: 2rem;
  width: 2rem;
}
footer .footer h1 {
  color: #fff;
  font-size: 1.5rem;
  margin-block: 1rem;
}
footer + p {
  background: #111;
  color: #fff;
  padding-block: 1rem;
  text-align: center;
}

@media (max-width: 1303px) {
  footer {
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
